@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #adadad;
}
.nav_links h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: #edf0f1;
    text-decoration: none;
    cursor: pointer;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    position: relative;
    top: 0;
    color: #adadad 
    
}
.nav{
    position: absolute;
    width: 100%;
    height: 100px;
    margin: 0px;
    border: 0px;
    background-color: #515052;
    z-index: 9999;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px
}

.nav_links li a{
    transition: all 0.3s ease 0s;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
    cursor: pointer;
}

.nav_links li a :hover{
    color: #0088a9;
}
.photo{
    width: 100%;
}

.photo img {
    width: 100%;
}

.text{
    position: relative;
    width: 100%;
    margin-top: -40%;
}

.text h1 {
    text-align: center;
    color: #333138;
}
